body{
  font-family: 'Merriweather', serif;
  color:#4e4d4a;
  border:0;
  margin:0;
  padding:0;
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: 'Lato', sans-serif;
}
h1{
  font-size: 1.2em;
}

p{
  font-weight: lighter;
  line-height: 1.8em;
}
li{
  margin-bottom: 1em;
}
small{
  color: #1b7996;
}
a{
  color: #1b7996;
  text-decoration: underline;
}
.navbar{
  box-sizing: border-box;
  width:100%;
  height:3em;
  padding:1em;
  background-color: #fff;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
.navbar ul{
  margin:0;
  padding:0;
  list-style-type: none;
  display: inline;
}
.navbar li{
  display:inline;
  margin: 0 1em;
}
.navbar .logo{
  font-weight:bold;
}
.navbar a, .navbar a:visited{
  color:#4e4d4a;
  text-decoration: none;
}
.navbar a:hover{
  color:#000;
  text-decoration: underline;
}
.navbar a.current{
  text-decoration: underline;
}

.banner {
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/banner.jpg', sizingMethod='scale');
    height: 300px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}
.banner-default{
  background: transparent url('img/banner.jpg') 0 0 no-repeat fixed;
  background-size: cover;
}
.banner-fintech{
  background: transparent url('img/banner-fintech.jpg') 0 0 no-repeat fixed;
  background-size: cover;
}
.banner-socialsim{
  background: transparent url('img/banner-socialsim.jpg') 0 0 no-repeat fixed;
  background-size: cover;
}
.banner-ideation{
  background: transparent url('img/banner-ideation.jpg') 0 0 no-repeat fixed;
  background-size: cover;
}


.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 1em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}
.banner-head a{
  font-size:1rem;
}
.content{
  clear:both;
  margin:0 auto;
  max-width:500px;
  padding:0 0;
}
.lead{
  line-height: 2em;
  text-align: justify;
}
.teambox{
  margin: 5em 0;
  background-color: #f1f1f1;
  padding: 1.5em;
  border-radius: 2em;
}
table{
  border-collapse: collapse;
  font-size: 0.8em;
  width:100%;
}
th{
  font-weight:bold;
  border:solid 0px #ddd;
  border-bottom:solid 2px #ddd;
}
tbody{
  font-weight:lighter;
}
td{
  padding:1em;
}

.week{
  background-color: #efefef;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  margin-top:2em;
}
.week h2{
  display: block;
  padding-bottom: 0.3em;
  border-bottom: #a7a7a7 1px solid;
}
.week ul{
  font-weight: 200;
}
.instructors{
  font-size:0.8em;
  color:#3e3e3e;
}


.bigButton {
  display:block;
  max-width:200px;
  margin:3em auto 0 auto;
  padding:1em;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bigButton {
    background: #630660;
}
.bigButton:hover {
    background: #1b7996;
}
.disabled{
  background: rgb(100,100,100);
}
.disabled:hover {
    background: rgb(100,100,100);
}

.footer{
  box-sizing: border-box;
  width:100%;
  background-color: #ddd;
  margin-top: 3em;
  padding: 2em;
  color: #8e8c8c;
  font-family: 'Lato', sans-serif;
}
.footer a, .footer a:visited{
  color:#000;
  text-decoration: none;
}
.text-center{
  text-align:center;
}
.img-center-footer{
  display: block;
  margin: 0 auto;
  opacity:0.5;
}
/*==========  Non-Mobile First Method  ==========*/

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      body{
        font-size: 12px;
      }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 500px) {
      .content{
        padding:0 1.5em;
      }
      .navbar{
        display:none;
        height:0px;
      }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
